.messagesBox{
    display: grid;
    position: absolute;
    width: 800px;
    height: 200px;
    top: 770px;
    right: 560px;
    background-color: white;
    outline: 5px solid black;
}

.messagesBoxTitle {
    background-color: #B1B7D4; 
    height: 30px;
    outline: 5px solid black;
    font-size: 25px;
    font-weight: bold;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* justify-content: flex-end; */
    flex-flow: column nowrap;
    font-size: 20px;
    height: 170px;
}

.messages-container > :first-child {
    margin-top: auto !important;
}

