.messagesBox{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    width: 650px;
    background-color: #ccd9cb;
    border: solid black;
    border-radius: 8px;
}

.messagesBoxTitle {
    background-color: #538ea1; 
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid black;
    padding-left: 5px;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-flow: column nowrap;
    font-size: 20px;
    height: 100px;
}

.messages-container > :first-child {
    margin-top: auto !important;
}

