.main-container{
  display:flex;
  flex-direction: column;
  left: 10%;
  align-content: center;
  width: 100%;

}
.flex-items{
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
  height: auto;
  font-size: 30px;

}
.logo{

  display: block;
  width: 450px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.connect-button{

}
