.simpleViewForm{
    padding: 20px;
    margin-left: 250px;
    margin-top: 200px;
    border: 2px solid gray;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
      
    /* enables scrolling for tall modals */
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;
}

.buttons{
    padding-top: 20px;
}

.form-grid {
    display: grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 35% 35%;
}
.uploader { 
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploader + label{
    color: black;
    display: inline-block;
    padding: 4px;
}

.uploader + label * {
	pointer-events: none;
}

button, .uploader + label {
    background-color: #f4f7f7;
    background-image: linear-gradient(#a8a8a8,#e7ebeb);
    margin: 4px;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 1px 3px 0 rgba(0,0,0,0.19);
}
button:hover, .uploader + label:hover {
   cursor: pointer;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
}
button:focus,  .uploader + label:focus{
    outline:0;
}

.rightColumn{
    align-self: center;
}

.textInput{
    border-color: black;
    border-width: 1px;
}

.form-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* semi-transparent black  */
    background-color: black;
    opacity: 0.75;
        
    /* z-index must be below .modal and above everything else  */
     z-index: 900;
  }