.simpleViewForm{
    padding: 10px;
    border: 2px solid gray;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.form-grid {
    display: grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 30% 30%;
}
.uploader { 
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.uploader + label{
    color: black;
    display: inline-block;
    padding: 4px;
}

.uploader + label * {
	pointer-events: none;
}

button, .uploader + label {
    background-color: #f4f7f7;
    background-image: linear-gradient(#a8a8a8,#e7ebeb);
    margin: 4px;
    border-radius: 10px;
    font-size: 1em;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 1px 3px 0 rgba(0,0,0,0.19);
}
button:hover, .uploader + label:hover {
   cursor: pointer;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
}
button:focus,  .uploader + label:focus{
    outline:0;
}

.rightColumn{
    align-self: center;
}