<div class = "simpleViewForm">
<h1>Créer un jeu point de vue simple</h1>
  <div>
    <p>Format d'image: bitmap 24-bit (640x480)</p>
    <form id="formSV">
      <div class="form-grid">
        <div>
          <div *ngIf="(this.fileValidator.isValidGameName(this.gameName))"><p id="gameNameLabel">Nom du jeu</p></div>
          <div *ngIf="!(this.fileValidator.isValidGameName(this.gameName))" style="color:red"><p id="gameNameLabel">Nom du jeu</p></div>
        </div>
        <div class="rightColumn">
          <input [(ngModel)]="gameName" placeholder="Nom du jeu" name="gameNAME"/>
        </div>
        <div>
          <p id="originalFileLabel">Image originale</p>
          <div *ngIf ="originalFileIsOK"><p id ="{{ID_ORIGINAL_FILENAME}}">{{originalFileName}}</p></div>
          <div  *ngIf ="!(originalFileIsOK)" style="color:red"><p id ="{{ID_ORIGINAL_FILENAME}}">{{originalFileName}}</p></div>
        </div>
        <div class="rightColumn">
          <input  type="file" name="file" id={{ID_ORIGINAL_FILE}} class="uploader" (change)="onFileChange($event.target.files[0],'originalFile')">
          <label for="originalFile">Choisir un fichier </label>
        </div>
        <div>
          <p id = "modifiedFileLabel"> Image modifiée </p>
          <div *ngIf ="modifiedFileIsOK"><p id ="{{ID_MODIFIED_FILENAME}}">{{modifiedFileName}}</p></div>
          <div  *ngIf ="!(modifiedFileIsOK)" style="color:red"><p id ="{{ID_MODIFIED_FILENAME}}">{{modifiedFileName}}</p></div>
        </div>
        <div class="rightColumn">
          <input  type="file" name="file" id={{ID_MODIFIED_FILE}} class="uploader" (change)="onFileChange($event.target.files[0],'modifiedFile')">
          <label for="modifiedFile">Choisir un fichier </label>
        </div>
      </div>
    </form>
  </div>
<div >
  <div class="buttons">
    <button type="submit" id="submitButton" (click)="submit()">Soumettre </button>
    <button (click)="close()"> Annuler </button>
  </div>
  <div id="errorsMessages" class="errorsDiv"></div>
</div>
</div>
<div class="form-background"></div>
