<div class="adminPage">
  <div class = "emptyBox"></div>
  <div class="fiche de jeu">
        <app-list-view #games></app-list-view>
  </div>
  <div class="menuBar">
    <button class="freeGenButton" type="button" (click)="openFreeViewForm()">Créer un jeu libre</button>
    <button class="simpleGenButton" type="button" (click)="openSimpleViewForm()">Créer un jeu simple</button>
  </div>
  <router-outlet></router-outlet>
  <div class="fiche de jeu">
    <app-list-view #games></app-list-view>
  </div>
</div>