.adminPage{
  display: flex;
  flex-direction: column;
}

.emptyBox{
  height: 100px;
  width: 100%;
}
.title{
    text-align: center;
}
.menuBar{
    background-color:rgba(161, 50, 50, 0.7);
    background-image: radial-gradient( rgba(226, 28, 28, 0.7),rgba(121, 15, 15, 0.7)) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 8%;
    width: 100%;
}


button {
  background-color: #635d5d;
  background-image: linear-gradient(#574e4e,#beb8b8);
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 1px 3px 0 rgba(0,0,0,0.19);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

button:active{
    background-color: black;
}

button:focus{
    outline:0;
}

/* MODAL STYLES
-------------------------------*/
app-simple-generator {
  /* modals are hidden by default */
  display: none;
  z-index: 1000;
      
    /* enables scrolling for tall modals */
    overflow: auto;
}

.modal {
      /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .modal-background */
  z-index: 1000;
      
  /* enables scrolling for tall modals */
  overflow: auto;
}

.modal-body {
  padding: 20px;
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
}


.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: greenyellow;
  opacity: 1;
      
  /* z-index must be below .modal and above everything else  */
   z-index: 900;
}


body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
