.adminPage{
  display: flex;
  flex-direction: column;
}

.menuBar{
    background-color: #1EA86C;
    /* background-image: linear-gradient(rgba(232, 233, 238, 0.7),  rgba(130, 133, 143, 0.7)) ; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    height: 90px;
    border: solid black;
}


button {
  box-shadow: 0 0 5px;
  background-image: radial-gradient(#8ebbc9, #558ea0);
	background-color:#558ea0;
	border-radius:10px;
	border:solid;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Trebuchet MS;
	font-size:30px;
	padding:12px 60px;
	text-decoration:none;
  text-shadow:0px 1px 0px #0f1013;
  height: 80%;
}


button:hover{
  background-image: radial-gradient(#6d7999, #3d6674);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
  box-shadow: 0 0 0px;
  cursor: pointer;
}

button:active{
    background-color: black;
}

button:focus{
    outline:0;
}

/* MODAL STYLES
-------------------------------*/
app-simple-generator, app-free-generator {
  /* modals are hidden by default */
  display: none;
  z-index: 1000;
      
    /* enables scrolling for tall modals */
    overflow: auto;
}


.modal-body {
  padding: 20px;
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
