div[ng-view]{
    height: 100%;
}
html, body { height: 100vh !important;
background-color: #15506c;
margin: 0 !important; }
*{
    margin: 0;
}
#page {
    position: relative;
    min-height: 100%;
  }

