img{
    width: 140px;
    height: 140px;
    border: 2px solid black;
    margin: 5px;
}

h2{
    text-align: center;
}

.gameList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middle{
    display: flex;
    flex-direction: row;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



button{
    background-color: #635d5d;
    background-image: linear-gradient(#574e4e,#beb8b8);
    border-radius: 10px;
    color: black;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 2px;
} 

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

button:active{
    background-color: black;
}

button:focus{
    outline:0;
}
.top3{
    grid-column-start: 1;
    grid-column-end: span 3;
    text-align: center;
}

.case{
    text-align: center;
}

h1{
    border:2px solid rgb(37, 10, 10);
    background-color:rgba(161, 50, 50, 0.7);
    background-image: radial-gradient( rgba(226, 28, 28, 0.7),rgba(121, 15, 15, 0.7));
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 1px 3px 0 rgba(0,0,0,0.19);
    text-shadow:0 1px 2px 0 darken(black,50%);
    text-align :center; 

}
.scoreBox{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 10px 50px 50px ;

}

.gameCard{
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(181, 50, 50, 1.0);
}

ul{
    list-style: none;
}


