
h2{
    background-color: #538ea1 ;
    border-radius:10px;
    border: solid black 5px;
    text-align :center; 
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
    font-size: 70px;
    font-family:Trebuchet MS;
}
.whole-page{
    background-color: #15506c;
}

.gameList{
    display: flex;
    justify-content: space-around;
}
    
.page-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    background-color: #ccd9cb ;
    border-radius:10px;
    border: solid black 5px;
    text-align :center; 
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: center;
    /* box-shadow:0px 0px 20px 10px #525060 ; */
    flex-direction: column;
    margin-top: 20px;
    align-self: center;
    color: #0D0E0F;
    text-shadow: 3px 2px 3px rgba(255,255,255,.2);
    font-size: 100px;
    font-family:Trebuchet MS;
}

.game-card-list{
    display: flex;
    flex-direction: column;
    width: auto;
    border: 10px;
    margin-top: 20px;
}
.game-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    max-width: 750px;
    max-height: 600px;
    height: 600px;
    background-color:rgb(52, 62, 109);
    margin: 30px;
    transition: all .2s ease-in-out;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 10px;
}

.spinny {
    align-self: center;
    width: 100%;
    height: 100%;
}

