<h1>
  Games
</h1>
<div class="gameList">

  <div class = "game-card-list">
      <h2>Point de vue simple</h2>
          <div *ngFor="let game of simpleGames">
              <div class ="game-card" >
                <div class ="game-card-left-content">
                  <div class ="game-card-title">{{game.name}}</div>
                  <div class ="game-card-img-container"><img class ="game-card-img" src={{game.originalImageURL}} alt=""></div>
                      <div class="game-card-buttons" *ngIf="!isAdminMode">
                          <div class ="game-card-button-container"><button (click)= "playSelectedSimpleGame(game)">JOUER</button></div>
                          <div class ="game-card-button-container"><button>CRÉER</button></div>
                      </div>
                      <div class="game-card-buttons" *ngIf="isAdminMode">
                        <div class ="game-card-button-container"><button>RÉINITIALISER</button></div>
                        <div class ="game-card-button-container"><button  (click) = "deleteSimpleGames(game)">SUPPRIMER</button></div>
                      </div>
                </div>
                <div class ="game-card-right-content">
                  <div class ="top-container">
                      <div class ="top-title">TOP SOLO</div>
                      <div class ="top-score">1:{{game.solo.first}}</div>
                      <div class ="top-score">2:{{game.solo.second}}</div>
                      <div class ="top-score">3:{{game.solo.third}}</div>
                  </div>
                  <div class ="top-container">
                      <div class ="top-title">TOP 1V1</div>
                      <div class ="top-score">1:{{game.multi.first}}</div>
                      <div class ="top-score">2:{{game.multi.second}}</div>
                      <div class ="top-score">3:{{game.multi.third}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class = "game-card-list">
      <h2>Point de vue libre</h2>
          <div *ngFor="let game of freeGames">
              <div class ="game-card" >
                <div class ="game-card-left-content">
                  <div class ="game-card-title">{{game.name}}</div>
                  <div class ="game-card-img-container"><img class ="game-card-img" src={{game.originalImageURL}} alt=""></div>
                      <div class="game-card-buttons" *ngIf="!isAdminMode">
                          <div class ="game-card-button-container" ><button>JOUER</button></div>
                          <div class ="game-card-button-container"><button>CRÉER</button></div>
                      </div>
                      <div class="game-card-buttons" *ngIf="isAdminMode">
                        <div class ="game-card-button-container"><button>RÉINITIALISER</button></div>
                        <div class ="game-card-button-container" ><button>SUPPRIMER</button></div>
                      </div>
                </div>
                <div class ="game-card-right-content">
                  <div class ="top-container">
                      <div class ="top-title">TOP SOLO</div>
                      <div class ="top-score">1:{{game.solo.first}}</div>
                      <div class ="top-score">2:{{game.solo.second}}</div>
                      <div class ="top-score">3:{{game.solo.third}}</div>
                  </div>
                  <div class ="top-container">
                      <div class ="top-title">TOP 1V1</div>
                      <div class ="top-score">1:{{game.multi.first}}</div>
                      <div class ="top-score">2:{{game.multi.second}}</div>
                      <div class ="top-score">3:{{game.multi.third}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>