.freeViewForm{
    padding: 20px;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    margin-top: -275px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    width: 500px;
    height: 630px;
    display: flex;
    flex-direction: column;
    background: #ccd9cb;
    border-radius: 8px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
      
    /* enables scrolling for tall modals */
    overflow: auto;
    position: fixed;

    z-index: 1000; 
}
.form-grid {
    display: grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 30% 30%;
}


button {
    position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #538ea1;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #1e1f42;
    border-width: 1px 1px 3px;
    border-radius: 8px;
	margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 1px 3px 0 rgba(0,0,0,0.19);
}
button:hover{
   cursor: pointer;
   background: #2A5E8F;
   box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
}
button:focus{
    outline:0;
}
input{
    border-color: black;
    border-width: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgba(255,255,255,.1);
    background-color: #e8eeef;
    color:#8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	border: none;
	border-radius: 4px;
	font-size: 15px;
}

input:focus{
    background: white;
}

.rightColumn{
    align-self: center;
    width: 130%;
}

.form-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* semi-transparent black  */
    background-color: black;
    opacity: 0.75;
        
    /* z-index must be below .modal and above everything else  */
     z-index: 700;
}

.errorsDiv {
    display: flex;
    flex-direction: column;
    color: red;
}
.p2 {
    font-size:10px;
}