<div class="freeViewForm">
  <h1>Créer un jeu point de vue libre</h1>
  <div>  
    <p>Format d'image: bitmap 24-bit (640x480)</p>
    <form id="formSV">
      <div class="form-grid">
        <div>
          <div *ngIf = "this.fileValidator.isValidGameName(this.gameName)"><p id="gameName">Nom du jeu</p></div>
          <div *ngIf = "!(this.fileValidator.isValidGameName(this.gameName))" style="color:red"><p id="gameName">Nom du jeu</p></div>
        </div>
        <div class="rightColumn">
          <input [(ngModel)]="gameName" placeholder="Nom du jeu" name="gameNAM"/>
        </div>
        <div>
          <p id="typeObj">Type d'objets</p>
        </div>
        <select class="rightColumn" (change)="changeType($event.target.value)">
          <option value={{type1}}> formes géométriques</option>
          <option value={{type2}}>thématique </option>
        </select>
        <div>
          <div *ngIf = "this.fileValidator.isValidObjNb(this.noObj)"><p id="noObj">Quantité d'objets</p></div>
          <div *ngIf = "!(this.fileValidator.isValidObjNb(this.noObj))" style="color:red"><p id="noObj">Quantité d'objets</p></div>
        </div>
        <div class="rightColumn">
          <input [(ngModel)]="noObj" placeholder="Nombre d'objets" name="noOBJ"/>
        </div>
        <div>
          <div *ngIf = "this.hasModifications()"><p id="typeModif">Type de modifications</p></div>
          <div *ngIf = "!(this.hasModifications())" style="color:red"><p id="typeModif">Type de modifications</p></div>
        </div>
        <div class="rightColumn">
          <input type="checkbox" id="add" value="add" (click)="changeModif(0)"> Ajout<br>
          <input type="checkbox" id="delete" value="delete" (click)="changeModif(1)"> Supression <br>
          <input type="checkbox" id="colorChange" value="colorChange" (click)="changeModif(2)"> Changement de couleur <br>
        </div>
      </div>
    </form>
  </div>
  <div >
    <div class="buttons">
      <button type="submit" id="submitButton" (click)="submit()">Soumettre </button>
      <button (click)="close()"> Annuler </button>
    </div>
    <div *ngFor ="let error of errorsMessages ">
        <p style="color:red">{{error}}</p>
    </div>
  </div>
</div>
<div class="form-background"></div>