

.chrono {
    position: absolute;
    top: 200px;
    right: 215px;
    font-size: 25px;
}

.compteur {
    position: absolute;
    top: 170px;
    right: 190px;
    font-size: 25px;
}

.messages{
    position: absolute;
    width: 400px;
    height: 600px;
    top: 250px;
    right: 30px;
    background-color: darkkhaki;
}

.gameTitle{

    position: absolute;
    display: inline-block;
    font-size: 50px;
    width: 500px;
    text-align: center;
}

.divGames {
    position: absolute;
    top: 150px;
    width: 1480px;
    height: 700px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gameImage {
    width: 640px;
    height: 520px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.mockImages {
    width: 640px;
    height: 480px;
    background-color: forestgreen;
}
