

.chrono {
    position: absolute;
    top: 800px;
    left: 215px;
    font-size: 25px;
    font-weight: bold;
}

.compteur {
    position: absolute;
    top: 770px;
    left: 215px;
    font-size: 25px;
    font-weight: bold;
}

.gameTitle{
    background-color: white;
    outline: 5px solid black;
    height: 70px;
    top: 50px;
    left: 220px;
    position: absolute;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    width: 500px;
    padding-top: 10px;
    text-align: center;
}

.divGames {
    position: absolute;
    top: 150px;
    left: 220px;
    width: 1480px;
    height: 600px;
    background-color: #919CD1;
    outline: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gameImage {
    width: 640px;
    height: 543px;
    background-color: #B1B7D4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    outline: 5px solid black;

}
.mockImages {
    outline: 5px solid black;
    width: 640px;
    height: 480px;
}

.gameImage > p {
    padding-left: 5px;
    font-weight: bold;
    font-size: 20px;
}

.disable-click {
    pointer-events: none;
}

.cursor-not-allowed {
    cursor: not-allowed;
}
