<div class="gameTitle"> {{simpleGame?.card.name}}</div>
<div class="divGames">
  <div class="gameImage">
    <p>Image originale:</p>
    <div class="mockImages" [ngClass]="blockedCursor">
      <img *ngIf="simpleGame; else spinny" class="game-card-img" [ngClass]="disableClick" (click)="sendClick($event)" src={{simpleGame.card.originalImage}} alt="">
    </div>
  </div>
  <div class="gameImage">
    <p>Image avec les différences:</p>
    <div class="mockImages" [ngClass]="blockedCursor">
      <img *ngIf="simpleGame; else spinny" class="game-card-img" [ngClass]="disableClick" (click)="sendClick($event)" src={{simpleGame.modifiedImage}} alt="">
    </div>
  </div>
</div>
<div class="infoBottom">
  <div class="gameInfo">
    <div class="chrono">Temps: {{timer.getTimeAsString()}}</div>
    <div class="compteur">Différences trouvées: {{differencesFound}}</div>
  </div>
  <app-game-messages></app-game-messages>
</div>
<ng-template #spinny><mat-spinner class="spinny" md-mode="indeterminate"></mat-spinner></ng-template>
<app-error-popup></app-error-popup>