<div id="gameTitle" class="gameTitle"> {{game3D?.name}} </div>
<div class="chrono">Temps:{{timer.getTimeAsString()}}</div>
<div class="compteur">Différences trouvées: {{differencesFound}}</div>
<div class="divGames">
  <div class="gameImage" [ngClass]="blockedCursor">
    <p>Image originale:</p>
    <div #originalContainer class="game-card-img">
      <ng-container *ngIf="!gameIsReady; then spinny"></ng-container>
    </div>
  </div>
  <div class="gameImage" [ngClass]="blockedCursor">
    <p>Image avec les différences:</p>
    <div #modifiedContainer class="game-card-img">
      <ng-container *ngIf="!gameIsReady; then spinny"></ng-container>
    </div>
  </div>
</div>
<div class="messagesBox">
  <div class="messagesBoxTitle"> Messages </div>
</div>
<ng-template #spinny>
  <mat-spinner class="spinny" md-mode="indeterminate"></mat-spinner>
</ng-template>
